{
  "development": {
    "MONGODB": "mongodb://127.0.0.1:27017/boozebids",
    "APP_URL": "",
    "JWT_SECRET": "",
    "JWT_EXPIRE": "",
    "RESET_PASSWORD_TOKEN_EXPIRY_MINS": "",
    "FRONTEND_APP_URL": "",
    "EMAIL_SERVICE": "",
    "EMAIL_PASSWORD": "",
    "EMAIL_USERNAME": "",
    "EMAIL_FROM": ""
  },
  "test": {
    "MONGODB": "No Thanks",
    "APP_URL": "",
    "JWT_SECRET": "",
    "JWT_EXPIRE": "",
    "RESET_PASSWORD_TOKEN_EXPIRY_MINS": "",
    "FRONTEND_APP_URL": "",
    "EMAIL_SERVICE": "",
    "EMAIL_PASSWORD": "",
    "EMAIL_USERNAME": "",
    "EMAIL_FROM": ""
  },
  "production": {
    "MONGODB": "mongodb+srv://dennohdee:pr0gramm1ng@cluster0.z8y5v.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",
    "APP_URL": "",
    "JWT_SECRET": "",
    "JWT_EXPIRE": "",
    "RESET_PASSWORD_TOKEN_EXPIRY_MINS": "",
    "FRONTEND_APP_URL": "",
    "EMAIL_SERVICE": "",
    "EMAIL_PASSWORD": "",
    "EMAIL_USERNAME": "",
    "EMAIL_FROM": ""
  }
}